<h6>Contributions</h6>
<div class="row contributions">
  <div class="col m4 center contribution">
    <%= current_user.stats.data.raw.map { |day| day.score }.reduce(0, :+) %><br>Contributions in last year
  </div>
  <div class="col m4 center longest-streak">
    <%= current_user.stats.longest_streak.count %><br>Days
  </div>
  <div class="col m4 center current-streak">
    <%= current_user.stats.streak.count %><br>Days
  </div>
</div>
