<div class="row" id="contributors">
  <h5 class="bold pie-title">Commits by Contributors</h5>
  <div class="col s12 m6">
    <svg viewBox="0 0 64 64" class="pie">
      <% generate_contributors_graph(repo).each do |slice| %>
        <%= slice %>
      <% end %>
    </svg>
  </div>
  <div class="col s12 m6">
    <% count = 0 %>
    <% @repo.contributors_percents.each do |contributor, percent| %>
    <ul>
      <li class="lang"> <%= embedded_svg 'box.svg', class: "color#{count} box" %> <%= "#{contributor} - #{percent}%" %> </li>
    </ul>
    <% count += 1 %>
    <% end %>
  </div>
</div>
