<div class="row">
  <h2><%= @repo.repo %></h2>
  <div class="col s12 commits">
    <%= render partial: 'commits', locals: {repo: @repo} %>
  </div>
  <div class="col s12 m6">
    <%= render partial: 'languages', locals: {repo: @repo} %>
  </div>
  <div class="col s12 m6">
    <%= render partial: 'contributors', locals: {repo: @repo} %>
  </div>
</div>
