/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize";

body {

}

.user-info .avatar {
  width: 100%;
  border-radius: 5px;
}

.user-info h4 {
  margin: 3px;
}

.user-info p {
  margin: 0px;
  font-size: 24px;
  font-weight: 100;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
}

.user-info .details {
  margin-top: 20px;
  padding-left: 25px;
  font-size: 16px;
  font-weight: normal;
}

.org-avatar {
  width: 100%;
}

.big {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 5px;
}

.big-thin {
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 5px;
}

nav {
  border-bottom: 1px solid #ccc;
  margin-bottom: 25px;
}

nav ul li a {
  color: #000;
  font-weight: 900;
}

nav ul li a:hover {
  background-color: #f5f5f5;
  border-bottom: 2px solid #ccc;
}

bold {
  font-weight: 700;
  margin-right: 2px;
}

.bold {
  font-weight: 700;
}

.scrollable {
  border: 1px solid #ccc;
  padding: 0 15px;
  max-height: 450px;
  overflow-y: scroll;
  overflow-x:hidden;
}

.pie {
  width: 100%;
  background: #fff;
  border-radius: 50%;
}

.pie circle {
  fill: none;
  stroke-width: 32;
  /*stroke-dasharray: 75 100;*/
}

.box {
  height: 20px;
  width: 20px;
}

.lang {
  line-height: -5px;
}

.Ruby, .color0 {
  stroke: #82A630;
  fill: #82A630;
}

.CSS, .color1 {
  stroke: #324467;
  fill: #324467;
}

.HTML, .color2 {
  stroke: #495A23;
  fill: #495A23;
}

.CoffeeScript, .color3 {
  stroke: #8D3728;
  fill: #8D3728;
}

.JavaScript, .color4 {
  stroke: #A64838;
  fill: #A64838;
}

.Python, .color5 {
  stroke: #A6883F;
  fill: #A6883F;
}

.PHP, .color6 {
  stroke: #48675B;
  fill: #48675B;
}

.Java, .color7 {
  stroke: #5A4C2B;
  fill: #5A4C2B;
}

.Shell .color8 {
  stroke: #7A368D;
  fill: #7A368D;
}

.C, .color9 {
  stroke: #DF48A6;
  fill: #DF48A6;
}

.Objective-C, .color10 {
  stroke: #DF58A6;
  fill: #DF58A6;
}

.pie-title {
  margin-bottom: 30px;
}

.wrapper {
  padding: 12px;
}

.contributions {
  padding-top: 5px;
}

.contributions .col {
  border: 1px solid #ccc;
  padding: 25px 0;
}

.rc {
  margin-top: 0;
}

h6 {
  padding: 15px 0 5px 0;
  font-weight: 700;
  margin-top: 20px;
}

.commits {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

.rprs {
  margin-top: 30px;
}

.flash_error {
  position: absolute;
  left: 80%;
  color: red;
}

.flash_notice {
  position: absolute;
  left: 80%;
  color: green;
}
